<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- <link rel="icon" href="../img/favicon.png" sizes="16x16" type="image/png"> -->
    <title>SUKKARI レシピ編集</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>

<body>

    <div class="container">
            <h2 class="form-create-recipe">入力されたタスクが作成されました</h2>
            <button class="btn btn-lg btn-primary btn-block" type="submit">他の人にも共有する</button>
        </form>
    </div>

    <script type="text/javascript">
        function pressCreateRecipeButton() {

            var xhr = new XMLHttpRequest();
            var url = "https://sukkari.herokuapp.com/sharetask"
            xhr.open("POST", url, true);
            xhr.send("");

        };
    </script>

    <script type="text/javascript">
        function varChecker() {

            var tasknameValue = document.forms.formCreateRecipe.inputTaskname.value;
            var titleValue = document.forms.formCreateRecipe.inputTitle.value;
            var thumbnailValue = document.forms.formCreateRecipe.inputThumbnail.value;
            var descriptionValue = document.forms.formCreateRecipe.inputDescription.value;
            var tagsValue = document.forms.formCreateRecipe.inputTags.value;

            var step1Value = document.forms.formCreateRecipe.inputStep1.value;
            var time1Value = parseInt(document.forms.formCreateRecipe.inputTime1.value);
            var step2Value = document.forms.formCreateRecipe.inputStep2.value;
            var time2Value = parseInt(document.forms.formCreateRecipe.inputTime2.value);
            var step3Value = document.forms.formCreateRecipe.inputStep3.value;
            var time3Value = parseInt(document.forms.formCreateRecipe.inputTime3.value);
            var step4Value = document.forms.formCreateRecipe.inputStep4.value;
            var time4Value = parseInt(document.forms.formCreateRecipe.inputTime4.value);
            var step5Value = document.forms.formCreateRecipe.inputStep5.value;
            var time5Value = parseInt(document.forms.formCreateRecipe.inputTime5.value);
            var totalTimeValue = time1Value + time2Value + time3Value + time4Value + time5Value;

            console.log(tasknameValue, titleValue, thumbnailValue)
            console.log(totalTimeValue)

        };
    </script>

</body>


</html>